body{
    display:flex;
    flex-direction: column;
    background-color:black;
}
main{
    padding:45px;
    background-color:black;
    flex-grow:1;
    color:white;
}

.todo{
    display:flex;
    justify-content: space-between;
}

.grouped-buttons{
    margin: 0 10px 0 0;
}

.grouped-buttons-div{
    display:flex;
}

footer{
    padding:10px 50px 10px 50px;
    background-color:#0C6EFD;
    

    color:white;
}
h1{
    color:white;
}
h2{
    color:#4a93ff;
}